*{margin:0;padding:0;border:0;}
.hidden{display:none;}
.invisible{visibility:hidden;}
.link{cursor: pointer;}
body{
	background:#111 url('//data.rolandoislas.com/www/img/background_maze_black.jpg');
	font:12px "Courier New", monospace, Verdana, Helvetica, Arial, sans-serif;
}
#main-container{
	width:1060px;
	min-width: 1060px;
	height:100%;
	background:#eee url('//data.rolandoislas.com/www/img/background_maze_white.jpg');
	margin:0 auto;
}
#header{
	width:100%;
	height:39px;
	background:#111 url('//data.rolandoislas.com/www/img/background_maze_black.jpg');
}
#logo-link{
	width:265px;
	height:39px;
	position:absolute;
	background:url('//data.rolandoislas.com/www/img/header_logo.png') no-repeat;
}
#logo-link-inner{
	width:100%;
	height:100%;
}
#site-menu-container{
	width: auto;
	height: auto;
	margin: 0 0 0 270px;
	position: absolute;
}
#site-menu-icon{
	width: 39px;
	height: 39px;
	background: url('//data.rolandoislas.com/www/img/header_site_menu.png') no-repeat 0 0;
	float: left;
}
#site-menu{
	float: left;
	background: #111 url('//data.rolandoislas.com/www/img/background_maze_black.jpg');
	display: none;
	border-radius: 5px;
}
#site-menu li{
	list-style-type: none;
}
#site-menu a{
	text-decoration: none;
	font-size: 39px;
	color: #fff;
}
#header-links{
	width:auto;
	height:auto;
	margin:0 0 0 862px;
	padding:10px;
}
#header-links-list li{
	list-style-type:none;
	display:inline;
}
.header-link{
	width:16px;
	height:16px;
	display: inline-block;
	float: left;
	margin: 0 0 5px 5px;
}
.header-link-youtube{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat 0 0;
}
.header-link-twitter{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat 0 -16px;
}
.header-link-twitch{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat -16px 0;
}
.header-link-wordpress{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat -16px -16px;
}
.header-link-gplus{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat -32px 0;
}
.header-link-facebook{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat -32px -16px;
}
.header-link-reddit{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat -48px 0;
}
.header-link-spreadshirt{
	background:url('//data.rolandoislas.com/www/img/header_links.png') no-repeat -48px -16px;
}
#feature-container{
	width:100%;
	height:596px;
}
#feature-selection{
	width:100%;
	height:50px;
}
.fs-youtube{
	background:url('//data.rolandoislas.com/www/img/feature_selection.jpg') no-repeat 0 0;
}
.fs-youtube:hover{
	background:url('//data.rolandoislas.com/www/img/feature_selection.jpg') no-repeat 0 -50px;
}
.fs-twitch-offline{
	background:url('//data.rolandoislas.com/www/img/feature_selection.jpg') no-repeat -530px 0;
}
.fs-twitch-offline:hover{
	background:url('//data.rolandoislas.com/www/img/feature_selection.jpg') no-repeat -530px -50px;
}
.fs-twitch-online{
	background:url('//data.rolandoislas.com/www/img/feature_selection.jpg') no-repeat -530px -100px;
}
.fs-twitch-online:hover{
	background:url('//data.rolandoislas.com/www/img/feature_selection.jpg') no-repeat -530px -150px;
}
.feature-selector{
	width:50%;
	height:50px;
	float:left;
}
#live_audio{
	display: none;
}
#episode{
	display:none;
}
#episode-art{
	width: 180px;
	height: 180px;
	background:#111;
	float:left;
}
#episode-data{
	width: 880px;
	float: left;
}
#episode-title{
	font-size: 28px;
	font-weight: bold;
	width: 880px;
	height: 100px;
	text-align: center;
	margin-top: 20px;
	overflow-y:hidden;
}
.audiojs{
	width:100%;
	margin:0 auto;
}
.audiojs .scrubber{
	width:699px
}
#episode-notes{
	clear: both;
	padding: 10px;
}
.load-comment{
	width:185px;
	height:20px;
	margin:10px auto 10px auto;
	font-size:20px;
	font-weight:bold;
	line-height:20px;
	text-align:center;
	border:1px solid #000;
}
#disqus_thread{
	margin: 0 10px;
}
.podcastListItem {
	width: auto;
	height: 180px;
	margin: 5px 5px 5px 5px;
}
.podcastItemImage {
	width: 180px;
	height: 180px;
	float: left;
	background-size: cover !important;
}
.podcastItemTitle {
	font-size: 35px;
    margin: 50px 0 0 5px;
    display: inline-block;
}
.podcastItemDescription {
	margin: 0 5px 0 5px;
    display: inline-block;
    width: 81%;
}
#filter-container{
	width:100%;
	height:50px;
	background:#000 url('//data.rolandoislas.com/www/img/background_maze_black.jpg');
}
#filter-links{
	float:left;
}
#filter-links-list li{
	list-style-type:none;
	display:inline;
}
#filter-links-list a:link,#filter-links-list a:visited,#filter-links-list a:hover,#filter-links-list a:active{
	color:#fff;
	font-size:30px;
	text-decoration:none;
	line-height:50px;
}
#search-container{
	float:right;
	margin:9px 40px 0 0;
}
.search-field{
	width:160px;
	height:30px;
	background:#444;
	color:#fff;
	font-size:20px;
	line-height:30px;
	padding:0;
	border:1px solid #777;
	border-radius:2px 0 0 2px;
}
#search-submit{
	width:30px;
	height:30px;
	background:#444 url('//data.rolandoislas.com/www/img/search_icon.png');
	position:absolute;
	margin:-32px 0 0 160px;
	border:1px solid #777;
	border-radius:0 2px 2px 0;
}
#search-submit:active{
	background:#666 url('//data.rolandoislas.com/www/img/search_icon.png');
}
#video-list-container, #twitch-chat-container{
	width:100%;
	height:auto;
}
.text-content-container{
	width:1000px;
	margin:20px auto 20px auto;
	min-height: 100px;
}
#social-g-ytsubscribe{
	float:left;
}
.addthis_sharing_toolbox{
	float:left;
	margin:14px 0 0 14px;
}
#video-comments-container, #video-social-container{
	width:1050px;
	height:auto;
	margin:0 auto;
}
#ga-container{
	width:728px;
	height:90px;
	margin:5px auto 0 auto;
}
#video-title-container{
	font-size:24px;
	margin:12px 0 0 5px;
}
#video-social-container{
	margin:5px auto 0 auto;
}
#video-description-container{
	width: 520px;
	margin: 76px 0 5px 5px;
	text-align: left;
	clear:both;
}
#list-chunk-container{
	width:100%;
	height:auto;
}
#list-load-more{
	width:150px;
	height:20px;
	margin:10px auto 0 auto;
	font-size:20px;
	font-weight:bold;
	line-height:20px;
	text-align:center;
	border:1px solid #000;
}
.video-chunk{
	width:263.8px;
	height:148px;
	margin:1px 0 0 1px;
	float:left;
}
.video-chunk-thumbnail{
	width:100%;
	height:100%;
	margin:0 auto;
}
.video-chunk-description{
	display:none;
	width:206px;
	height:12px;
	margin:2px auto 0 auto;
	overflow: hidden;
}
#footer{
	width:100%;
	height:auto;
	text-align:center;
	margin:10px 0 10px 0;
}

@media only screen and (max-device-width: 1060px) {
	#main-container{
		width:320px;
		min-width:320px;
	}
	#header{
		width:320px;
		height:40px;
	}
	#logo-link{
		width:265px;
		height:39px;
		position:static;
		margin: 0 0 0 44px;
	}
	#site-menu-container{
		margin: -38px 0 0 0;
	}
	#header-links{
		display:none;
	}
	#feature-container{
		width:320px;
		height:180px;
		overflow-x: hidden;
	}
	.podcastListItem {
		height: auto;
	}
	.podcastItemImage {
		width: 45px;
		height: 45px;
	}
	.podcastItemTitle {
		margin: 5px 0 0 5px;
	}
	.podcastItemDescription {
		width: 100%;
	}
	#episode-art{
		float:none;
		margin:20px auto 0 auto;
	}
	#episode-data{
		width:100%;
	}
	#episode-title{
		width:100%;
	}
	.audiojs .scrubber{
		width:159px
	}
	#feature-selection{
		display:none;
	}
	#filter-links{
		display:none;
	}
	#video-comments-container, #video-social-container{
		width:310px;
	}
	#video-social-container{
		height:auto;
		margin:5px auto 10px auto;
	}
	#video-description-container{
		width:310px;
	}
	#ga-container{
		width:320px;
		height:50px;
	}
	.video-chunk{
		width:157px;
		height:88px;
		margin:1px 0 1px 2px;
	}
	.video-chunk-description{
		display:none;
	}
}