<div id="header">
		<div id="logo-link"><a href="/"><div id="logo-link-inner"></div></a></div>
		<div id="site-menu-container">
			<div id="site-menu-icon"></div>
			<ul id="site-menu">
				<li><a href="https://www.rolandoislas.com/">Main Site</a></li>
				<li><a href="http://rolandoislas.spreadshirt.com/">Store</a></li>
				<li><a href="http://blog.rolandoislas.com/">Blog</a></li>
				<li><a href="https://podcast.rolandoislas.com/">Podcast</a></li>
				<!-- Cheese -->
				<li><a href="http://www.youtube.com/rolandoislas/"><div class="header-link header-link-youtube" alt="YouTube" title="YouTube"></div></a></li>
				<li><a href="http://www.google.com/+rolandoislas/"><div class="header-link header-link-gplus" alt="Google+" title="Google+"></div></a></li>
				<li><a href="http://twitter.com/rolandoislas/"><div class="header-link header-link-twitter" alt="Twitter" title="Twitter"></div></a></li>
				<li><a href="http://www.reddit.com/r/rolandoislas/"><div class="header-link header-link-reddit" alt="Reddit" title="Reddit"></div></a></li>
				<li><a href="http://www.facebook.com/rolandoislas"><div class="header-link header-link-facebook" alt="Facebook" title="Facebook"></div></a></li>
				<li><a href="http://www.twitch.tv/rolandoislas/"><div class="header-link header-link-twitch" alt="Twitch" title="Twitch"></div></a></li>
			</ul>
		</div>
</div>