<div id="header">
		<div id="logo-link"><a href="/"><div id="logo-link-inner"></div></a></div>
		<div id="header-links">
		<ul id="header-links-list">
			<li><a href="http://www.youtube.com/rolandoislas/"><img class="header-link header-link-youtube" src="/inc/img/t_1x1.png" alt="YouTube" title="YouTube"></a></li>
			<li><a href="http://www.google.com/+rolandoislas/"><img class="header-link header-link-gplus" src="/inc/img/t_1x1.png" alt="Google+" title="Google+"></a></li>
			<li><a href="http://twitter.com/rolandoislas/"><img class="header-link header-link-twitter" src="/inc/img/t_1x1.png" alt="Twitter" title="Twitter"></a></li>
			<li><a href="http://www.reddit.com/r/rolandoislas/"><img class="header-link header-link-reddit" src="/inc/img/t_1x1.png" alt="Reddit" title="Reddit"></a></li>
			<li><a href="http://rolandoislas.spreadshirt.com"><img class="header-link header-link-spreadshirt" src="/inc/img/t_1x1.png" alt="Spreadshirt" title="Buy Merchandise!"></a></li>
			<li><a href="http://www.facebook.com/rolandoislas"><img class="header-link header-link-facebook" src="/inc/img/t_1x1.png" alt="Facebook" title="Facebook"></a></li>
			<li><a href="http://www.twitch.tv/rolandoislas/"><img class="header-link header-link-twitch" src="/inc/img/t_1x1.png" alt="Twitch" title="Twitch"></a></li>
			<li><a href="http://blog.rolandoislas.com/"><img class="header-link header-link-wordpress" src="/inc/img/t_1x1.png" alt="Blog" title="Blog"></a></li>
		</ul>
		</div>
</div>